.elementor-kit-1173 {
    --e-global-color-primary: #00BEFE;
    --e-global-color-secondary: #034077;
    --e-global-color-text: #000000;
    --e-global-color-accent: #00BEFE54;
    --e-global-color-434e96be: #202020;
    --e-global-color-5538c1c7: #00BEFE;
    --e-global-color-14cf00be: #034077;
    --e-global-color-367fa83: #000000;
    --e-global-color-9d8f6ba: #FFFFFF;
    --e-global-color-88b8d87: #D7D7D7;
    --e-global-typography-primary-font-family: "Cairo";
    --e-global-typography-secondary-font-family: "Cairo";
    --e-global-typography-text-font-family: "Cairo";
    --e-global-typography-accent-font-family: "Cairo";
}

.elementor-kit-1173 e-page-transition {
    background-color: #FFBC7D;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}