.elementor-2315 .elementor-element.elementor-element-7cd5766e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-2315 .elementor-element.elementor-element-7cd5766e {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2315 .elementor-element.elementor-element-5c8425a3>.elementor-element-populated>.elementor-background-overlay {
    background-color: var( --e-global-color-9d8f6ba);
    opacity: 0.83;
}

.elementor-2315 .elementor-element.elementor-element-5c8425a3>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2315 .elementor-element.elementor-element-5c8425a3>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2315 .elementor-element.elementor-element-548a61a7 {
    animation-duration: 800ms;
    animation-delay: 300ms;
}

.elementor-2315 .elementor-element.elementor-element-3e105890 {
    animation-duration: 800ms;
    animation-delay: 200ms;
}

.elementor-2315 .elementor-element.elementor-element-3e105890 .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.elementor-2315 .elementor-element.elementor-element-3e105890 .aux-modern-heading-primary {
    font-family: "Cairo", Sans-serif;
    font-weight: bold;
    color: var( --e-global-color-secondary);
}

.elementor-2315 .elementor-element.elementor-element-3e105890 .aux-modern-heading-primary:hover {
    color: var( --e-global-color-primary);
}

.elementor-2315 .elementor-element.elementor-element-3d589c07 {
    animation-duration: 800ms;
    animation-delay: 300ms;
}

.elementor-2315 .elementor-element.elementor-element-3d589c07 .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.elementor-2315 .elementor-element.elementor-element-3d589c07 .aux-modern-heading-primary {
    font-family: "Cairo", Sans-serif;
    font-weight: bold;
    color: var( --e-global-color-secondary);
}

.elementor-2315 .elementor-element.elementor-element-3d589c07 .aux-modern-heading-primary:hover {
    color: var( --e-global-color-primary);
}

.elementor-2315 .elementor-element.elementor-element-1fdec770 {
    animation-duration: 800ms;
    animation-delay: 400ms;
}

.elementor-2315 .elementor-element.elementor-element-1fdec770 .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.elementor-2315 .elementor-element.elementor-element-1fdec770 .aux-modern-heading-primary {
    font-family: "Cairo", Sans-serif;
    font-weight: bold;
    color: var( --e-global-color-secondary);
}

.elementor-2315 .elementor-element.elementor-element-1fdec770 .aux-modern-heading-primary:hover {
    color: var( --e-global-color-primary);
}

.elementor-2315 .elementor-element.elementor-element-1785c18a {
    animation-duration: 800ms;
    animation-delay: 500ms;
}

.elementor-2315 .elementor-element.elementor-element-1785c18a .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.elementor-2315 .elementor-element.elementor-element-1785c18a .aux-modern-heading-primary {
    font-family: "Cairo", Sans-serif;
    font-weight: bold;
    color: var( --e-global-color-secondary);
}

.elementor-2315 .elementor-element.elementor-element-1785c18a .aux-modern-heading-primary:hover {
    color: var( --e-global-color-primary);
}

.elementor-2315 .elementor-element.elementor-element-16a492e4 {
    animation-duration: 800ms;
    animation-delay: 600ms;
}

.elementor-2315 .elementor-element.elementor-element-16a492e4 .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.elementor-2315 .elementor-element.elementor-element-16a492e4 .aux-modern-heading-primary {
    font-family: "Cairo", Sans-serif;
    font-weight: bold;
    color: var( --e-global-color-secondary);
}

.elementor-2315 .elementor-element.elementor-element-16a492e4 .aux-modern-heading-primary:hover {
    color: var( --e-global-color-primary);
}

.elementor-2315 .elementor-element.elementor-element-15c78d5b {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-primary);
    --divider-border-width: 4px;
    animation-duration: 500ms;
    animation-delay: 700ms;
}

.elementor-2315 .elementor-element.elementor-element-15c78d5b .elementor-divider-separator {
    width: 100%;
}

.elementor-2315 .elementor-element.elementor-element-15c78d5b .elementor-divider {
    padding-block-start: 31px;
    padding-block-end: 31px;
}

.elementor-2315 .elementor-element.elementor-element-47a0a47 {
    animation-duration: 800ms;
    animation-delay: 800ms;
}

.elementor-2315 .elementor-element.elementor-element-47a0a47 .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.elementor-2315 .elementor-element.elementor-element-47a0a47 .aux-modern-heading-primary {
    font-family: "Cairo", Sans-serif;
    font-weight: bold;
    color: var( --e-global-color-secondary);
}

.elementor-2315 .elementor-element.elementor-element-47a0a47 .aux-modern-heading-primary:hover {
    color: var( --e-global-color-primary);
}

@media(min-width:768px) {
    .elementor-2315 .elementor-element.elementor-element-5c8425a3 {
        width: 100%;
    }
}

@media(max-width:767px) {
    .elementor-2315 .elementor-element.elementor-element-7cd5766e {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-2315 .elementor-element.elementor-element-3e105890 .aux-modern-heading-primary {
        font-size: 6vw;
    }
    .elementor-2315 .elementor-element.elementor-element-3d589c07 .aux-modern-heading-primary {
        font-size: 6vw;
    }
    .elementor-2315 .elementor-element.elementor-element-1fdec770 .aux-modern-heading-primary {
        font-size: 6vw;
    }
    .elementor-2315 .elementor-element.elementor-element-1785c18a .aux-modern-heading-primary {
        font-size: 6vw;
    }
    .elementor-2315 .elementor-element.elementor-element-16a492e4 .aux-modern-heading-primary {
        font-size: 6vw;
    }
    .elementor-2315 .elementor-element.elementor-element-15c78d5b .elementor-divider {
        padding-block-start: 13px;
        padding-block-end: 13px;
    }
    .elementor-2315 .elementor-element.elementor-element-47a0a47 .aux-modern-heading-primary {
        font-size: 6vw;
    }
}