.elementor-1204 .elementor-element.elementor-element-b5ac306 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1204 .elementor-element.elementor-element-b5ac306>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1204 .elementor-element.elementor-element-861ddb7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1204 .elementor-element.elementor-element-861ddb7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-1204 .elementor-element.elementor-element-861ddb7>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-1204 .elementor-element.elementor-element-861ddb7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1204 .elementor-element.elementor-element-861ddb7 {
    animation-delay: 100ms;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-1204 .elementor-element.elementor-element-b841b11>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1204 .elementor-element.elementor-element-b841b11>.elementor-container:after {
    background-color: transparent;
    background-image: linear-gradient(180deg, #ad77ff 0%, #4d0aa4 90%);
}

.elementor-1204 .elementor-element.elementor-element-b841b11>.elementor-container {
    max-width: 1600px;
}

.elementor-1204 .elementor-element.elementor-element-b841b11 {
    box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.1607843137254902);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 25px 15px 25px;
}

.elementor-1204 .elementor-element.elementor-element-b841b11>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .elementor-button-content-wrapper {
    align-items: center;
}

body:not(.bdt-offcanvas-flip) .elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas {
    height: 100vh;
}

.bdt-offcanvas-flip .elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas {
    height: 100vh;
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas-button .bdt-flex-align-right {
    margin-right: 0px;
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas-button .bdt-flex-align-left {
    margin-left: 0px;
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas-button .bdt-flex-align-top {
    margin-bottom: 0px;
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas-button .bdt-flex-align-bottom {
    margin-top: 0px;
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas .bdt-offcanvas-bar {
    background-color: var( --e-global-color-9d8f6ba);
    padding: 0px 0px 0px 0px;
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas>div {
    box-shadow: 0px 0px 10px 0px #034077;
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas-button {
    color: #034077;
    background-color: #02010100;
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas-button svg {
    fill: #034077;
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas-button-icon {
    font-size: 32px;
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas-button:hover {
    color: var( --e-global-color-primary);
}

.elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas-button:hover svg {
    fill: var( --e-global-color-primary);
}

.elementor-1204 .elementor-element.elementor-element-1735415 {
    display: block;
    text-align: center;
}

.elementor-1204 .elementor-element.elementor-element-1735415 .aux-vertical .aux-menu-depth-0 .aux-item-content {
    display: block;
    text-align: center;
}

.elementor-1204 .elementor-element.elementor-element-1735415 .aux-menu-depth-0>.aux-item-content {
    color: #171c24;
    font-family: "Cairo", Sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.elementor-1204 .elementor-element.elementor-element-1735415 .aux-menu-depth-0.aux-hover>.aux-item-content {
    color: var( --e-global-color-primary);
}

.elementor-1204 .elementor-element.elementor-element-724ad58 {
    position: relative;
}

.elementor-1204 .elementor-element.elementor-element-83c56a9 .elementor-repeater-item-ee44122 .aux-icon-list-text {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    margin: 0px 44px 0px 0px;
}

.elementor-1204 .elementor-element.elementor-element-83c56a9 .elementor-repeater-item-8d20fed .aux-icon-list-text {
    margin: 0px 44px 0px 0px;
}

.elementor-1204 .elementor-element.elementor-element-83c56a9>.elementor-widget-container {
    margin: -19px 0px 0px 0px;
}

.elementor-1204 .elementor-element.elementor-element-83c56a9 {
    z-index: 55;
}

.elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-item {
    margin-right: 5px;
    align-items: center;
}

.elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-direction-horizontal .aux-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-item,
.elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-items {
    justify-content: center;
    text-align: center;
}

.elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-direction-horizontal {
    align-items: center;
}

.elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-text {
    color: var( --e-global-color-secondary);
    font-family: "Cairo", Sans-serif;
    font-weight: bold;
}

.elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-icon {
    color: var( --e-global-color-primary);
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(max-width:1024px) {
    .elementor-1204 .elementor-element.elementor-element-914f86e>.elementor-element-populated {
        margin: 0px 0px 6px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-a345ae0>.elementor-element-populated {
        margin: 0px 0px 6px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-724ad58 {
        position: absolute;
        top: 7px;
        right: 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9 .elementor-repeater-item-ee44122 .aux-icon-list-text {
        margin: 0px 45px 0px 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9 .elementor-repeater-item-8d20fed .aux-icon-list-text {
        margin: 0px 45px 0px 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9>.elementor-widget-container {
        margin: -10px 0px 0px 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-item,
    .elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-items {
        justify-content: center;
        text-align: center;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-icon {
        font-size: 13px;
    }
}

@media(max-width:767px) {
    .elementor-1204 .elementor-element.elementor-element-b5ac306 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-861ddb7.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-1204 .elementor-element.elementor-element-861ddb7>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-1c98f42 {
        width: 89%;
    }
    .elementor-1204 .elementor-element.elementor-element-914f86e {
        width: 10%;
    }
    .elementor-1204 .elementor-element.elementor-element-ae9eaba {
        width: var( --container-widget-width, 35.143px);
        max-width: 35.143px;
        --container-widget-width: 35.143px;
        --container-widget-flex-grow: 0;
    }
    .elementor-1204 .elementor-element.elementor-element-ae9eaba>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas .bdt-offcanvas-bar {
        padding: 15% 0% 30% 0%;
    }
    .elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas-button {
        padding: 0px 0px 0px 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-ae9eaba .bdt-offcanvas-button-icon {
        font-size: 33px;
    }
    .elementor-1204 .elementor-element.elementor-element-a345ae0 {
        width: 10%;
    }
    .elementor-1204 .elementor-element.elementor-element-1735415 {
        display: block;
        text-align: right;
    }
    .elementor-1204 .elementor-element.elementor-element-1735415 .aux-vertical .aux-menu-depth-0 .aux-item-content {
        display: block;
        text-align: right;
    }
    .elementor-1204 .elementor-element.elementor-element-724ad58 {
        top: 100%;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9 {
        width: 100%;
        max-width: 100%;
        position: relative;
        top: -100%;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-item:not(:last-child) {
        padding-bottom: 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-item:not(:first-child) {
        margin-top: 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-text {
        font-size: 3.9vw;
        margin: 0px 0px 0px 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-text2 {
        margin: 0px 0px 0px 0px;
    }
    .elementor-1204 .elementor-element.elementor-element-83c56a9 .aux-icon-list-item {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1204 .elementor-element.elementor-element-1c98f42 {
        width: 50%;
    }
    .elementor-1204 .elementor-element.elementor-element-914f86e {
        width: 100%;
    }
    .elementor-1204 .elementor-element.elementor-element-a345ae0 {
        width: 100%;
    }
    .elementor-1204 .elementor-element.elementor-element-724ad58 {
        width: 50%;
    }
}

/* Start custom CSS for aux_menu_box, class: .elementor-element-1735415 */

.elementor-1204 .elementor-element.elementor-element-1735415 .aux-menu-label {
    position: relative !important;
}

.elementor-1204 .elementor-element.elementor-element-1735415 .aux-item-content .aux-menu-label:after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: var(--e-global-color-primary);
    position: absolute;
    bottom: -9px;
    left: 50%;
    transition: all 1100ms cubic-bezier(0.19, 1, 0.22, 1)100ms;
}

.elementor-1204 .elementor-element.elementor-element-1735415 .menu-item .aux-menu-label:after {
    opacity: 0;
}

.elementor-1204 .elementor-element.elementor-element-1735415 .aux-item-content:hover .aux-menu-label:after,
.elementor-1204 .elementor-element.elementor-element-1735415 .current_page_item .aux-menu-label:after,
.elementor-1204 .elementor-element.elementor-element-1735415 .current_page_item .aux-menu-label {
    opacity: 1;
    color: var(--e-global-color-primary);
}

.elementor-1204 .elementor-element.elementor-element-1735415 .aux-fs-popup .aux-panel-close {
    top: 92px;
}

@media only screen and (max-width: 1300px)and (min-width: 1025px) {
    .elementor-1204 .elementor-element.elementor-element-1735415 .aux-item-content {
        padding-right: 5px;
        font-size: 15px !important;
    }
}

/* End custom CSS */

/* Start custom CSS for column, class: .elementor-element-724ad58 */

@media only screen and (max-width: 1025px) and (min-width: 767px) {
    .elementor-1204 .elementor-element.elementor-element-724ad58 {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

/* End custom CSS */

/* Start custom CSS for section, class: .elementor-element-b841b11 */

.elementor-1204 .elementor-element.elementor-element-b841b11:after {
    content: '';
    height: 10px;
    background: rgb(173, 119, 255);
    background: -moz-linear-gradient(90deg, var(--e-global-color-secondary) 0%, var(--e-global-color-primary) 100%);
    background: -webkit-linear-gradient(90deg, var(--e-global-color-secondary) 0%, var(--e-global-color-primary) 100%);
    background: linear-gradient(90deg, var(--e-global-color-secondary) 0%, var(--e-global-color-primary) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ad77ff", endColorstr="var(--e-global-color-primary)", GradientType=1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* End custom CSS */